# General
node_modules/
build/

### Firebase
.firebase/

### JetBrains
.idea/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# The secrets (shush)
.env

# Misc
.DS_Store
/venv/
